<div class="main">
  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--header1"></section>
  <section class="main__parallax-content">
    <div>
      <h1 class="ptitle">ESPACIO PÚBLICO Y CIUDADANÍAS</h1>
      <p>Geografia 6to año</p>
    </div>
  </section>

  <!-- Seccion NO parallax -->
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <div class="row">
        <div class="column">
          <h2>Ciudadanias</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="column">
          <h2><a href="#">Espacio</a></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="column">
          <h2>Espacio publico</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--dos"></section>
  <section class="main__parallax-content">
    <div>
      <h1><a class="__href"href="/ciudadania"><span>¿Qué es la ciudadanía?</span></a></h1>
      <p>Este texto acompaña al background parallax en su propia sección</p>
    </div>
  </section>

  Seccion NO parallax
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <p>"Las acciones propias de les ciudadanes son solo aquellas que tienden a mantener, y de ser posible, incrementar el ejercicio futuro de la ciudadania"</p>
      <p>Elizabeth Jelin</p>
    </div>
  </section>

  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--tres"></section>
  <section class="main__parallax-content">
    <div>
      <h1><a class="__href" href="/espacio-publico">¿Qué es el espacio? ¿Por qué es importante para construir ciudadanías?
      </a></h1>
      <p>Este texto acompaña al background parallax en su propia sección</p>
    </div>
  </section>
  <!-- Seccion NO parallax -->
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <h1><a class="__href" href="/espacio-publico">Espaciosss público</a></h1>
      <p>
        En esta sección incluimos la clase "bg-1" para otorgarle un color de
        fondo.
      </p>
    </div>
  </section>

  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--cuatro"></section>
  <section class="main__parallax-content">
    <div>
      <h1>  Pensar con imágenes </h1>
      <p>Este texto acompaña al background parallax en su propia sección</p>
    </div>
  </section>
  <!-- Seccion NO parallax -->
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <h1>No-parallax section</h1>
      <p>
        En esta sección incluimos la clase "bg-1" para otorgarle un color de
        fondo.
      </p>
    </div>
  </section>

  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--cuatro"></section>
  <section class="main__parallax-content">
    <div>
      <h1>   ¿Qué encuentro acá? ¿Cómo recorrer este material?
      </h1>
      <p>Este texto acompaña al background parallax en su propia sección</p>
    </div>
  </section>

  <!-- Seccion NO parallax -->
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <p>"Las acciones propias de les ciudadanes son solo aquellas que tienden a mantener, y de ser posible, incrementar el ejercicio futuro de la ciudadania"</p>
      <p>Elizabeth Jelin</p>
    </div>
  </section>
</div>
<!-- End Container -->
