@import "../base/typography";
@import "./btns";

.article {
  &__header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding: 0 30px;
  }
  &__transition {
    background-color: #326789;
    font-family: Impact, sans-serif;
    min-height: 18em;
    padding: 20px;
    &--quote {
      color: #E9EEF2;
      font-size: 36px;
      font-family: $font-gill;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      line-height: 1.5;
    }
  }
  &__content {
    padding: 5% 10%; //top y bottom - right y left 
    background-color: #E9EEF2;
    &--paragraph {
      text-align: justify;
      display: block;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: #404040;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.5;
      font-family: $font-gill;
    }
  }
}
.title-secondary{
  color: #E65C4F;
}
