<div class="gallery">
  <div class="gallery__item gallery__item--1">
    <div class="gallery__item--overlay"></div>
    <div
      [ngStyle]="background()"
      class="gallery__item--bg gallery__item--1-bg"
    ></div>
    <div class="gallery__item--content">
      <p>Espacio</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--2">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--2-bg"></div>
    <div class="gallery__item--content">
      <p>Ciudadanías</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--3">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--3-bg"></div>
    <div class="gallery__item--content">
      <p>espacio público</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--4">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--4-bg"></div>

    <div class="gallery__item--content">
      <p>vivienda colectiva</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--5">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--5-bg"></div>
    <div class="gallery__item--content">
      <p>INSITUCIONAL</p>
    </div>
  </div>
  <!-- <div class="gallery__item gallery__item--6">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--6-bg"></div>
    <div class="gallery__item--content">
      <p>OTROS</p>
    </div>
  </div> -->
  <div class="gallery__item gallery__item--7">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--7-bg"></div>
    <div class="gallery__item--content">
      <p>PROYECTO HORMIGA</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--8">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--8-bg"></div>
    <div class="gallery__item--2-bg"></div>
    <div class="gallery__item--content">
      <p>obras</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--9">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--9-bg"></div>
    <div class="gallery__item--content">
      <p>COMERCIAL</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--10">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--10-bg"></div>
    <div class="gallery__item--content">
      <p>valor agregado</p>
    </div>
  </div>
  <div class="gallery__item gallery__item--11">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--11-bg"></div>
    <div class="gallery__item--content">
      <p>Articulos</p>
    </div>
  </div>
  <!-- <div class="gallery__item gallery__item--12">
    <div class="gallery__item--overlay"></div>
    <div class="gallery__item--bg gallery__item--12-bg"></div>
    <div class="gallery__item--content">
      <p>institucional</p>
    </div>
  </div> -->
</div>
