<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader" style="background-position: 0% 70%;">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
        <h2 class="title-primary">Ciudadanías</h2>
    </div>
    <div class="article__content">
      <article>
        <h1 class="title-secondary">
            La ciudadanía y los Derechos Humanos como procesos históricos
        </h1>
        <p class="article__content--paragraph">
          Existen relaciones y puntos de encuentro entre la construcción de los Derechos Humanos y la de la ciudadanía. Mientras que los primeros se vinculan a derechos universales, asignados por nuestra condición de humanos y respaldados por pactos internacionales; los derechos vinculados a la ciudadanía reafirman los anteriores, y se caracterizan por tener validez dentro del territorio del Estado en el que viven les ciudadanes. Tal es el caso de los derechos y responsabilidades consagrados en la Constitución Nacional de la República Argentina, que incluyen a todes les ciudadanes del país.

        </p>
        <p class="article__content--paragraph">
          La historia de los DDHH se inauguró en Occidente como una demanda de la modernidad, más concretamente, de la burguesía que luchaba frente al poder y los privilegios de la monarquía. Así, en el marco de la Revolución Francesa se sancionó la Declaración de los derechos del Hombre, que distinguió al hombre como depositario de derechos naturales, del ciudadano en tanto miembro integrado a la comunidad política. Desde allí la ciudadanía empieza a entenderse como la condición de reconocimiento y como la garantía de la libertad de las personas. En este contexto Olympe de Gouges escribió como respuesta la Declaración de los Derechos de la Mujer y la Ciudadana, poniendo en evidencia la exclusión de las mujeres de estas luchas por la ampliación de derechos políticos.
        </p>
        <p class="article__content--paragraph">
          Los procesos históricos en los que se definen los Derechos Humanos y las ciudadanías son largos, complejos y no lineales. Se encuentran atravesados por avances y retrocesos. Por ejemplo, en América Latina durante el siglo XX, el contexto de gobiernos autoritarios y dictatoriales ha creado una cultura donde la conciencia de los derechos de ciudadanía fue muy débil, y estos procesos tienen consecuencias políticas y culturales aún en nuestros días. En este sentido, tanto la ciudadanía como los derechos que la constituyen están siempre en proceso de construcción y de cambio. 
        </p>
        <p class="article__content--paragraph">
          En Argentina estos procesos han adquirido una complejidad particular, desde la consolidación del Estado a fines del siglo XIX hasta el presente. Muchas veces incluyeron el establecimiento de límites y diferencias marcadas entre quienes fueron considerados aptos para ejercer los derechos políticos y otros sectores que por el contrario, fueron excluidos de estos y otros reconocimientos, por ejemplo: indígenas,  inmigrantes “indeseables” y mujeres. Con el tiempo y fundamentalmente, a partir de las luchas por la ampliación de derechos y ciudadanía, estos sectores fueron obteniendo reconocimiento. Te invitamos a leer el libro <a class="btn-article-link btn-article-link--link" href="https://ffyh.unc.edu.ar/jpabrattepedagogo/wp-content/uploads/2020/10/21-2018-Presentacion-Itinerarios_-Recorridos-por-la-Historia-de-Cordoba.pdf"  target="_blank">Itinerarios, recorridos por la historia de Córdoba</a>  para conocer más de cerca cómo se dieron estos procesos en la provincia. 

        </p>
       
      </article>
    </div>
  </div>
  
