
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiraciones</title>
</head>
<body>
    <div class="cover-page position-relative">
        <app-nav-bar></app-nav-bar>
        <div class="col-2">
        </div>
        
        
    </div>
    <div class="transition">
        <h1 class="title">Michael Wolf: París, Hong Kong: composiciones de ciudades y ciudadanes.</h1>
    </div>
    <div class="general-articles">
        <div class="row justify-content-between max-content-width">
            <article>
                <p>
                    Michael Wolf (​1954-2019) fue un fotógrafo alemán que viajó y vivió en Hong Kong y París. Estas ciudades fueron dos de los objetivos reiterados en sus obras, que se caracterizaron por series de composiciones de imágenes articuladas por algún eje o aspecto común. Algunas de sus composiciones más conocidas son “arquitectura de la densidad” donde buscó mostrar la vida claustrofóbica de las ciudades, y “Street View” en las que agrupó recortes de imágenes tomadas de la aplicación. 
                Te invitamos a visitar su <a href="https://photomichaelwolf.com/">sitio</a> para conocer su trabajo
                </p>
                
               </article> 
               
            
        </div>
        
    </div>
</body>
</html>
