 <!-- Photo Grid -->
 <div class="row">
    <div class="colum">
        <a href="../../../assets/banners/busqueda imaganes ep cba google.png"><img src="../../../assets/banners/busqueda imaganes ep cba google.png" style="width:75%"></a>

    </div>
</div>
 <div class="row"> 
    <div class="column">
      
      <a href=".../../../assets/banners/amo cba 2.jpg"><img src=".../../../assets/banners/amo cba 2.jpg" style="width:75%"></a>
     </div>
    <div class="column">
        <a href="./../../assets/banners/amo cba 1.jpg"><img src="./../../assets/banners/amo cba 1.jpg" style="width:75%"></a>
    </div>   
      
  </div>


