<div class="article">

    <div class="article__transition">
      <app-nav-bar></app-nav-bar>
      <h2 class="title-primary">Inspiraciones</h2>
    </div>
  
    <div class="article__content">
      <article>
        <h1 class="title-secondary"> Espacios públicos desde la lente de fotógrafes</h1>
        <p class="article__content--paragraph">
            En esta sección te invitamos a que te inspires observando las obras de grandes artistas que fotografiaron e intervinieron imágenes de ciudades y espacios públicos alrededor del mundo y en distintos contextos históricos.
           
        </p>
        
        <p class="article__content--paragraph"><a
            class="btn-article-link btn-article-link--l"
            routerLink="/laso"
            >José Domingo Laso: la ciudad de Quito, Ecuador a principios del siglo XX</a
            ></p>
            <p class="article__content--paragraph"><a
            class="btn-article-link btn-article-link--l"
            routerLink="/wolf"
            >Michael Wolf: París, Hong Kong: composiciones de ciudades y ciudadanes</a
            ></p>
            <p class="article__content--paragraph"><a
                class="btn-article-link btn-article-link--l"
                routerLink="/eijkelboom"
                >Hans Eijkelboom: Gente del siglo XXI</a
                ></p>
      </article>
    </div>
  </div>
