<div class="article">
  <div class="article__header" [ngStyle]="backgroundImageHeader">
    <app-nav-bar></app-nav-bar>
    <div>
      
    </div>
  </div>
  <div class="article__transition">
    <h2 class="title-primary">Espacio</h2>
  </div>
  <div class="article__content">
    <article>
      <h1 class="title-secondary">
        ¿Qué es el espacio? ¿Por qué es importante para construir ciudadanías?
      </h1>
      <p class="article__content--paragraph">
        La manera en que concebimos y percibimos el espacio influye en nuestra forma de entender el mundo en el que vivimos y nuestras relaciones con les otres. Durante mucho tiempo se instaló como dominante —tanto en el sentido común, como en los discursos políticos, académicos, educativos, etcétera— la idea sobre el espacio entendido como una superficie y como un “escenario de fondo” sin importancia en los procesos sociales. Sin embargo, a partir del diálogo entre la geografía y los procesos de luchas socioespaciales, se demostró que la dimensión espacial es central para la construcción democrática y la convivencia social. 

      </p>
      <p class="article__content--paragraph">
        Desde estas miradas, el espacio es entendido como una construcción que resulta de las conflictivas relaciones sociales entre grupos y personas que se caracterizan por ser heterogéneos y por expresar trayectorias muy diversas. Por eso, desde esta perspectiva el espacio es la condición para que los encuentros entre esas diferencias sean posibles. 
      </p>
      <p class="article__content--paragraph">
        El espacio nos ofrece la oportunidad y el desafío de encontrarnos con les vecines, con aquellas personas con las que queremos –o no—encontrarnos. Entonces, cada lugar resulta de las negociaciones que permiten —u obstaculizan— la convivencia con la otredad. Esta forma de pensar el espacio nos invita a prestar atención tanto a los encuentros, como a los desencuentros y exclusiones. 
      </p>
      <p class="article__content--paragraph">
        La invitación a comprender el espacio de esta forma tiene el potencial de hacernos pensar que siempre puede haber otras formas de relacionarnos y vivir juntes que aún podemos inventar. Nada está determinado de antemano, podemos ser protagonistas de una historia y de un espacio que están abiertos y por hacerse. 
      </p>
    </article>
    <h2>Seguí leyendo...</h2>

    <a
      class="btn-article-link btn-article-link--l"
      routerLink="/un-espacio-y-una-democracia-por-construir"
      >Un espacio y una democracia por construir</a
    >
  </div>
</div>
