<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
        <h2 class="title-primary">Sobre el sitio</h2>     
    </div>
    <div class="article__content" [ngStyle]="backgroundImageContent">
      <article>
     
        <p class="article__content--paragraph">
            Este sitio web es un entorno didáctico digital que quiere aportar al desarrollo de propuestas de enseñanza orientadas a la formación ciudadana y el espacio público. La Geografía escolar tiene una gran potencialidad para la educación ciudadana y política y puede contribuir a la construcción de ciudadanías más justas e inclusivas al hacer frente al proyecto democrático de construir proyectos comunes. Para poner en valor los aportes de la disciplina geográfica, es necesario, por un lado, preguntarnos qué implica ser ciudadane en el presente y en distintos contextos sociales, espaciales y temporales; y por otro, precisar nuestra manera de entender el objeto de estudio de la disciplina: el espacio geográfico.
        </p>
        <p class="article__content--paragraph">
            Para la realización de este material nos valimos de aportes provenientes de diversos campos: el de la geografía y su didáctica, el de las Ciencias Sociales y en particular de aquellos trabajos que reflexionan sobre la formación ciudadana en la escuela, así como también desde otras áreas relacionadas al arte y los estudios visuales. De estas lecturas destacamos las relaciones entre espacialidad y política, fundamentalmente a partir de la mirada de Doreen Massey, quien propone pensar al espacio como una construcción que resulta de relaciones sociales en las que el conflicto, la multiplicidad y las negociaciones para la convivencia social son parte central para su definición. 
 
        </p>
        <p class="article__content--paragraph">
            En este entorno didáctico digital podrás encontrar textos, fotografías, recursos didácticos en distintos formatos y soportes y actividades sugeridas para el aula. Si bien te proponemos una forma de recorrido a partir de enlaces y lecturas sugeridas, la intención es que puedas recorrerlo a partir de tus propios intereses y necesidades. Si sos docente podrás utilizar los recursos didácticos y las actividades sugeridas para adaptarlas a tus propuestas de enseñanza, así como también podrás encontrarte con bibliografía y recursos para ampliar lecturas sobre el tema. Si sos estudiante, podrás valerte de los recursos y lecturas para enriquecer tus tareas y para aprender más sobre los temas que te proponemos. 
 
        </p>
        <p class="article__content--paragraph">
            Esperamos que disfruten de este recorrido y que puedan sumarse a pensar y construir espacios públicos democráticos compartiendo sus actividades e ideas en los espacios de intercambio que proponemos en las distintas secciones. 

 
        </p>
  
      </article>
     
    </div>
  </div>
  