<div class="article">
  <div class="article__header" [ngStyle]="backgroundImageHeader">
    <app-nav-bar></app-nav-bar>
    <div>
      
    </div>
  </div>
  <div class="article__transition">
    <h2 class="title-primary">Espacio Público</h2>
  </div>

  <div class="article__content">
    <article>
      <h1 class="title-secondary">Espacio público</h1>
      <p class="article__content--paragraph">
        Para definir qué es el espacio público frecuentemente se acude a su
        oposición directa con el espacio privado. Así, se entiende que el
        espacio público es aquél donde ocurre lo que puede ser visto y
        compartido con otres, y donde la dimensión de lo político cobra
        relevancia. Por el contrario, al ámbito de lo privado se recluye lo que
        no puede mostrarse y debe resguardarse en las paredes del hogar, pero
        también lo que no forma parte de lo común, incluso la disidencia. Una
        fuerte crítica a esta diferenciación la han realizado los
        <a
          class="btn-article-link"
          href="https://thinkinghistories.com/genero-y-nacion/mundos-publicos-mundos-privados"  target="_blank"
          >feminisimos</a
        >, por considerar que estas miradas sobre lo público y lo privado
        excluyen de las discusiones políticas al género y la sexualidad. Es
        decir, ponen en tensión la oposición estricta entre lo público y lo
        privado.
      </p>
      <p class="article__content--paragraph">
        Entonces, ¿cómo podemos definir al espacio público? Para responder a
        esta pregunta es necesario partir de otras dos definiciones que hacen a
        este concepto: la de
        <a class="btn-article-link" routerLink="/espacio">espacio</a> y la de
        <a
          class="btn-article-link"
          routerLink="/un-espacio-y-una-democracia-por-construir"
          >política</a
        >. Si entendemos que tanto el espacio como la política se construyen a
        partir de relaciones conflictivas, el espacio público es el espacio
        social donde, por excelencia, deben tener lugar los encuentros y las
        negociaciones. Allí se institucionalizan los conflictos, se declaran los
        derechos, se cuestiona el poder y también se negocian las reglas
        establecidas.
      </p>
      <p class="article__content--paragraph">
        En una sociedad democrática debemos apuntar a que los conflictos y las
        disidencias se hagan visibles y puedan convivir. Pero para ello, debemos
        incorporar la incómoda pregunta sobre lo que no se ve, lo que se
        excluye, y entender que toda regulación del espacio público es
        construida socialmente y a partir de relaciones de poder. Podemos ser
        protagonistas en la construcción de nuestros espacios públicos
        habitándolos y estableciendo proyectos democráticos que luchen por la
        convivencia entre las diferencias.
      </p>
    </article>
  </div>
</div>
