<div class="main">
  <app-nav-bar></app-nav-bar>
  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--header1"></section>
  <section class="main__parallax-content">
    <div>
      <h1 class="ptitle">ESPACIO PÚBLICO Y CIUDADANÍAS</h1>
    </div>
  </section>

  <!-- Seccion NO parallax -->
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <div class="row">
        <div class="column">
          <h2>¿Qué es la ciudadanía?</h2>
          <p>
            La ciudadanía se relaciona con los derechos y las responsabilidades
            que las personas tenemos en el marco de una comunidad determinada.
            Puede entenderse como una práctica conflictiva vinculada al poder,
            que refleja las luchas acerca de quiénes podrán participar en el
            proceso de definir cuáles son los problemas comunes y cómo serán
            abordados...
          </p>
          <a class="example-button" routerLink="/ciudadania"
            ><span>Ver Mas</span></a
          >
        </div>
        <div class="column">
          <h2>¿Qué es el espacio?</h2>
          <p>
            La manera en que entendemos y percibimos el espacio influye en
            nuestra forma de entender el mundo en el que vivimos y nuestras
            relaciones con les otres...
          </p>
          <a class="example-button" routerLink="/espacio"
            ><span>Ver Mas</span></a
          >
        </div>
        <div class="column">
          <h2>Espacio publico</h2>
          <p>
            Para definir qué es el espacio público frecuentemente se acude a su
            oposición directa con el espacio privado. Así, se entiende que el
            espacio público es aquél donde ocurre lo que puede ser visto y
            compartido con otres, y donde la dimensión de lo político cobra
            relevancia. Por el contrario, al ámbito de lo privado se recluye lo
            que no puede mostrarse y debe resguardarse en las paredes del hogar,
            pero también lo que no forma parte de lo común, incluso la
            disidencia...
          </p>
          <a class="example-button" routerLink="/espacio-publico"
            ><span>Ver Mas</span></a
          >
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion parallax -->
  <section class="main__parallax-bg main__parallax-bg--dos"></section>
  <section class="main__parallax-content">
    <div>
      <h1 class="pcimg">
        <a class="__href" routerLink="/pensar-con-imagenes"
          ><span>Pensar con imágenes</span></a
        >
      </h1>
    </div>
  </section>

  Seccion NO parallax
  <section class="main__no-parallax-section bg-1">
    <div class="main__no-parallax-content">
      <h1>¿Qué encuentro acá? ¿Cómo recorrer este material?</h1>
      <p>
        Este sitio fue creado con el objetivo de promover la reflexión sobre la
        ciudadanía desde una perspectiva espacial. Aquí vas a poder encontrar
        textos disparadores para tu reflexión, recursos didácticos, actividades
        sugeridas, bibliografía ampliatoria, etcétera. Te invitamos a leer,
        mirar, recorrer y participar en la construcción de espacios públicos más
        democráticos.
      </p>
    </div>
  </section>

  <!-- Seccion parallax -->
  <!---->
</div>
<!-- End Container -->
