<h1>Hans Eijkelboom: Gente del siglo XXI</h1>
<p>
    Hans Eijkelboom es un fotógrafo originario de Países Bajos que recorrió las calles de distintas ciudades del mundo fotografiando comportamientos comunes en las personas. Su obra “gente del siglo XXI”  se ha convertido ya en un verdadero estudio sociológico. Te invitamos a leer la <a href="https://i-d.vice.com/es/article/k7e83e/hans-eijkelboom-fotografia-calle">entrevista</a> con el artista y a observar parte de sus obras que allí se comparten. 
</p>