<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader" style="background-position: top;">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
        <h2 class="title-primary">Hans Eijkelboom: Gente del siglo XXI</h2>
    </div>
    <div class="article__content">
      <article>
           <p class="article__content--paragraph">
            Hans Eijkelboom es un fotógrafo originario de Países Bajos que recorrió las calles de distintas ciudades del mundo fotografiando comportamientos comunes en las personas. Su obra “gente del siglo XXI”  se ha convertido ya en un verdadero estudio sociológico. Te invitamos a leer la <a class="btn-article-link btn-article-link--link" href="https://i-d.vice.com/es/article/k7e83e/hans-eijkelboom-fotografia-calle" target="_blank">entrevista</a> con el artista y a observar parte de sus obras que allí se comparten.  
            </p>                     
      </article>

    </div>
  </div>
    