<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
      <h2 class="title-primary">Espacio</h2>
    </div>
    <div class="article__content">
      <article>
        <h1 class="title-secondary">
            Un espacio y una democracia por construir.
        </h1>
        <p class="article__content--paragraph">
            Las sociedades poseen como característica central relaciones conflictivas que surgen de las profundas desigualdades sociales, de género y étnicas que existen. Estos conflictos llevan a la confrontación entre proyectos que plantean distintas formas de organizar a la sociedad y de entender como debe ser la política. Muchas veces esos proyectos resultan irreconciliables. Sin embargo, desde las perspectivas que proponemos aquí es importante entender que esta conflictividad no es un obstáculo para la democracia, sino que es una condición para que ella sea posible. 
        </p>
        <p class="article__content--paragraph">
            La política entendida de esta forma, es la búsqueda de consensos entre estas partes. Pero estos consensos no son absolutos ni definitivos, sino que, en una sociedad democrática, se presenta la posibilidad de que sean contestados y reemplazados por otros nuevos. Por más que estos acuerdos sean provisorios, inestables y disputables, no deben dejar de ser buscados con la finalidad de profundizar la democracia. La política, así como el espacio y la historia, están siempre abiertos a ser construidos desde otras posibilidades. En este sentido siempre habrá una democracia y un espacio por construir. 
        </p>
       
      </article>
      
    </div>
  </div>
