<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pensar con Imágenes</title>
</head>
<body>
    <div class="cover-page position-relative">
        <app-nav-bar></app-nav-bar>
        <div class="col-8">
                        
        </div>
        
        
    </div>
    <div class="transition">
        <h1 class="title">Pensar con imágenes</h1>
    </div>
    <div class="general-articles">
        <div class="row justify-content-between max-content-width">
            <article>
                <p>
                    Las imágenes ocupan un lugar cada vez más importante en el modo en que pensamos, hacemos y actuamos en la realidad en la que vivimos y en los espacios geográficos. Son parte de prácticas discursivas y obras de una cultura. 
                En el <a href="espacio">espacio</a> —entendido como la condición para el encuentro de las diferencias— convergen innumerables prácticas sociales y narrativas, que no siempre son solidarias sino que pueden presentar discordancias y disputas. En esas disputas, las personas y los grupos sociales recurren a imágenes para dar visibilidad pública —y, por lo tanto, política— a sus modos de pensar el espacio, y a la geografía que pretenden que sea tomada como verdadera. Así, las imágenes desean que miremos el espacio desde la perspectiva que ellas nos dan de él, es decir, buscan perpetuar una manera de imaginar el espacio, pero también de percibirlo y concebirlo. Por esto, conocer el espacio es también pensar cómo fue inventado diariamente por las imágenes
                Nuestra mirada no es un atributo heredado naturalmente, sino una construcción —tanto personal como social— que tiene lugar tanto en la escuela como en todos los ámbitos donde nos encontramos con imágenes: las redes sociales, las publicidades, el cine y la TV, etcétera. En definitiva, ni las imágenes ni quienes miran son inocentes o neutrales, sino que conforman una interacción en la que se disputan sentidos. 
                Por esto les invitamos a pensar: ¿cómo son los espacios públicos que nos muestran las imágenes de mayor circulación? ¿qué y quienes aparecen en ellas? ¿qué y quienes no se pueden ver? ¿cómo es el público que crean esas imágenes? ¿nos sentimos parte de él? ¿qué otras imágenes podemos proponer para construir y mostrar otros espacios públicos?
                
                </p>
                <p>Las imágenes ocupan un lugar cada vez más importante en el modo en que pensamos, hacemos y actuamos en la realidad en la que vivimos y en los espacios geográficos. Son parte de prácticas discursivas y obras de una cultura. </p>
                <p>En el <a href="espacio">espacio</a> —entendido como la condición para el encuentro de las diferencias— convergen innumerables prácticas sociales y narrativas, que no siempre son solidarias sino que pueden presentar discordancias y disputas. En esas disputas, las personas y los grupos sociales recurren a imágenes para dar visibilidad pública —y, por lo tanto, política— a sus modos de pensar el espacio, y a la geografía que pretenden que sea tomada como verdadera. Así, las imágenes desean que miremos el espacio desde la perspectiva que ellas nos dan de él, es decir, buscan perpetuar una manera de imaginar el espacio, pero también de percibirlo y concebirlo. Por esto, conocer el espacio es también pensar cómo fue inventado diariamente por las imágenes
                </p>
                <p>Nuestra mirada no es un atributo heredado naturalmente, sino una construcción —tanto personal como social— que tiene lugar tanto en la escuela como en todos los ámbitos donde nos encontramos con imágenes: las redes sociales, las publicidades, el cine y la TV, etcétera. En definitiva, ni las imágenes ni quienes miran son inocentes o neutrales, sino que conforman una interacción en la que se disputan sentidos. </p>
                <p>Por esto les invitamos a pensar: ¿cómo son los espacios públicos que nos muestran las imágenes de mayor circulación? ¿qué y quienes aparecen en ellas? ¿qué y quienes no se pueden ver? ¿cómo es el público que crean esas imágenes? ¿nos sentimos parte de él? ¿qué otras imágenes podemos proponer para construir y mostrar otros espacios públicos?</p>

               </article> 
            <h1><a href="inspiraciones">Inspiraciones: espacio público desde la lente de fótografes</a></h1>
            <h1><a href="recorrido-fotografico">Recorridos fotográficos de la ciudad de Córdoba</a></h1>


        
            
        </div>
        
    </div>
</body>
</html>
