<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
      <h2 class="title-primary">Pensar con Imágenes</h2>
    </div>
  
    <div class="article__content">
      <article>
        <p class="article__content--paragraph">
            Las imágenes ocupan un lugar cada vez más importante en el modo en que pensamos, hacemos y actuamos en la realidad en la que vivimos y en los espacios geográficos. Son parte de prácticas discursivas y obras de una cultura. 
           
        </p>
        <p class="article__content--paragraph">
            En el <a routerLink="/espacio">espacio</a> —entendido como la condición para el encuentro de las diferencias— convergen innumerables prácticas sociales y narrativas, que no siempre son solidarias sino que pueden presentar discordancias y disputas. En esas disputas, las personas y los grupos sociales recurren a imágenes para dar visibilidad pública —y, por lo tanto, política— a sus modos de pensar el espacio, y a la geografía que pretenden que sea tomada como verdadera. Así, las imágenes desean que miremos el espacio desde la perspectiva que ellas nos dan de él, es decir, buscan perpetuar una manera de imaginar el espacio, pero también de percibirlo y concebirlo. Por esto, conocer el espacio es también pensar cómo fue inventado diariamente por las imágenes 
        </p>
        <p class="article__content--paragraph">
            Nuestra mirada no es un atributo heredado naturalmente, sino una construcción —tanto personal como social— que tiene lugar tanto en la escuela como en todos los ámbitos donde nos encontramos con imágenes: las redes sociales, las publicidades, el cine y la TV, etcétera. En definitiva, ni las imágenes ni quienes miran son inocentes o neutrales, sino que conforman una interacción en la que se disputan sentidos. 

        </p>
        <p class="article__content--paragraph">
          Por esto les invitamos a pensar: ¿cómo son los espacios públicos que nos muestran las imágenes de mayor circulación? ¿qué y quiénes aparecen en ellas? ¿qué y quiénes no se pueden ver? ¿nos sentimos parte de él? ¿Qué otras imágenes podemos proponer para construir y mostrar otros espacios públicos?


        </p>
        <p class="article__content--paragraph"><a
            class="btn-article-link btn-article-link--l"
            routerLink="/inspiraciones"
            >Inspiraciones: espacio público desde la lente de fótografes</a
            ></p>
            <p class="article__content--paragraph"><a
            class="btn-article-link btn-article-link--l"
            routerLink="/recorrido-fotografico"
            >Recorridos fotográficos por la ciudad de Córdoba</a
            ></p>
      </article>
    </div>
  </div>
  