<h1>Actividades para el aula</h1>
<p>
    Aquí podrás encontrar algunas actividades sugeridas para ser incorporadas y adaptadas a tus secuencias didácticas. Los temas trabajados en cada una de ellas son: ciudadanía en tiempos de pandemia; género y espacio público; espacio público y protestas sociales. Los contenidos se abordan a partir de casos y recursos disparadores del contexto de la ciudad de Córdoba. 
Si hiciste las actividades con tus estudiantes y llevaste un registro o se te ocurrieron otras ideas y querés compartirlas con tus colegas, subilas a esta carpeta: https://drive.google.com/drive/folders/1DnWjytO25bk57eYqcf-mmISpVmUPfDzB?usp=sharing

-Ciudadanía en tiempos de pandemia: https://docs.google.com/document/d/1LvZTOTiIOGYT5PEJrNl1a2PVPASPhOsKEJ3xvTR1UtE/edit?usp=sharing

-Género y espacio público: https://docs.google.com/document/d/1gqgwaeAIX7KA2PEZsf5FnUpLZTcf0IaDYIgeLjw-3e4/edit?usp=sharing

-Espacio público y protestas sociales: https://docs.google.com/document/d/1x6qVlxWrMqduexlvBzDmIkf_Js-YryF96heMWiBT6io/edit?usp=sharing

</p>