<div class="article">
   
    <div class="article__transition">
        <app-nav-bar></app-nav-bar>
        <h2 class="title-primary">Actividades para el aula</h2>
    </div>
    <div class="article__content">
      <article>
           <p class="article__content--paragraph">
            Aquí podrás encontrar algunas actividades sugeridas para ser incorporadas y adaptadas a tus secuencias didácticas. Los temas trabajados en cada una de ellas son: ciudadanía en tiempos de pandemia; género y espacio público; espacio público y protestas sociales. Los contenidos se abordan a partir de casos y recursos disparadores del contexto de la ciudad de Córdoba. 
            
        </p>
        <p class="article__content--paragraph">
          Si hiciste las actividades con tus estudiantes y llevaste un registro o se te ocurrieron otras ideas y querés compartirlas con tus colegas, subilas a <a class="btn-article-link btn-article-link--l" href="https://drive.google.com/drive/folders/1DnWjytO25bk57eYqcf-mmISpVmUPfDzB?usp=sharing">esta carpeta</a>.
        </p>
        <p class="article__content--paragraph">
            <a class="btn-article-link btn-article-link--l" href="https://docs.google.com/document/d/1LvZTOTiIOGYT5PEJrNl1a2PVPASPhOsKEJ3xvTR1UtE/edit?usp=sharing"  target="_blank">Ciudadanía en tiempos de pandemia</a>
        </p>
        <p class="article__content--paragraph">
            <a class="btn-article-link btn-article-link--l" href="https://docs.google.com/document/d/1gqgwaeAIX7KA2PEZsf5FnUpLZTcf0IaDYIgeLjw-3e4/edit?usp=sharing"  target="_blank">Género y espacio público</a>. 
        </p>
        <p class="article__content--paragraph">
            <a class="btn-article-link btn-article-link--l" href="https://docs.google.com/document/d/1x6qVlxWrMqduexlvBzDmIkf_Js-YryF96heMWiBT6io/edit?usp=sharing"  target="_blank">Espacio público y protestas sociales.</a> 
        </p>
     
      </article>

    </div>
  </div>
  