<div class="gallery">
    <figure class="gallery__item gallery__item--1">
        <a href='../../../assets/banners/sanjo1.jpeg' target="_blank"><img src="../../../assets/banners/sanjo1.jpeg" class="gallery__img" alt="Image 1"></a>
      </figure>
      <figure class="gallery__item gallery__item--2">
        <a href="../../../assets/banners/sanjo2.jpg" target="_blank"><img src="../../../assets/banners/sanjo2.jpg" class="gallery__img" alt="Image 2"></a>
      </figure>
      <figure class="gallery__item gallery__item--3">
        <a href="../../../assets/banners/pies_blur.jpg" target="_blank"><img src="../../../assets/banners/pies_blur.jpg" class="gallery__img" alt="Image 3"></a>
      </figure>
      <figure class="gallery__item gallery__item--4">
        <a href="../../../assets/banners/sanjo4.JPG" target="_blank"><img src="../../../assets/banners/sanjo4.JPG" class="gallery__img" alt="Image 4"></a>
      </figure>
      <figure class="gallery__item gallery__item--5">
        <a href="../../../assets/banners/sanjo5.jpg" target="_blank"><img src="../../../assets/banners/sanjo5.jpg" class="gallery__img" alt="Image 5"></a>
      </figure>
      <figure class="gallery__item gallery__item--6">
        <a href="../../../assets/banners/sanjo6.JPG" target="_blank"><img src="../../../assets/banners/sanjo6.JPG" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--7">
        <a href="../../../assets/banners/sanjo7.JPG" target="_blank"><img src="../../../assets/banners/sanjo7.JPG" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--8">
        <a href="../../../assets/banners/sanjo8.jpeg" target="_blank"><img src="../../../assets/banners/sanjo8.jpeg" class="gallery__img" alt="Image 6"></a>
      </figure>  
      <figure class="gallery__item gallery__item--9">
        <a href="../../../assets/banners/sanjo9.jpeg" target="_blank"><img src="../../../assets/banners/sanjo9.jpeg" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--10">
        <a href="../../../assets/banners/sanjo10.jpg" target="_blank"><img src="../../../assets/banners/sanjo10.jpg" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--11">
        <a href="../../../assets/banners/sanjo11.jpeg" target="_blank"><img src="../../../assets/banners/sanjo11.jpeg" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--12">
        <a href="../../../assets/banners/sanjo12.jpg" target="_blank"><img src="../../../assets/banners/sanjo12.jpg" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--14">
        <a href="../../../assets/banners/sanjo14.jpeg" target="_blank"><img src="../../../assets/banners/sanjo14.jpeg" class="gallery__img" alt="Image 6"></a>
      </figure>
      <figure class="gallery__item gallery__item--15">
        <a href="../../../assets/banners/sanjo15.jpeg" target="_blank"><img src="../../../assets/banners/sanjo15.jpeg" class="gallery__img" alt="Image 6"></a>
      </figure>
    
</div>
