

<img src="">












<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanias</title>
</head>
<body>
    <div class="cover-page position-relative">
        <app-nav-bar></app-nav-bar>
        <div class="col-2">
        </div>
        
        
    </div>
    <div class="transition">
        <h1 class="title">Recorridos fotográficos por la ciudad de Córdoba</h1>
    </div>
    <div class="general-articles">
        <div class="row justify-content-between max-content-width">
            <article>
                <p>
                    ¿Cómo se expresan los espacios públicos de Córdoba en las fotografías de mayor circulación? Esta pregunta movilizó a un grupo de estudiantes y de profesores del colegio San José. Para responderla hicimos un ejercicio muy simple: escribimos en el buscador de google “espacios públicos de Córdoba” e hicimos click en imágenes. También buscamos en redes sociales. Estas son algunas de las imágenes a las que llegamos: 
                </p>
                
               </article> 
               <img src="../../../assets/banners/busqueda imaganes ep cba google.png" alt="" srcset="">
                <img src="../../../assets/banners/amo cba 1.jpg" alt="" srcset="">
                <img src="../../../assets/banners/amo cba 2.jpg" alt="" srcset="">

                <p>Después de observar ciertas recurrencias o aspectos en común entre estas imágenes, (como la ausencia de personas, el tipo de plano desde el cual fueron tomadas, los lugares elegidos para ser mostrados) decidimos hacer nuestro propio <a>recorrido fotográfico</a>, para mostrar otra perspectiva de la ciudad</p>

                <p>¿Te animás a compartir tu fotografía de espacios públicos en tu ciudad? ¡Hacelo por <a href="https://padlet.com/mritamaldonado/ox7brhfocda5aaw9">aquí</a> y formemos una gran composición colectiva! Si querés, podés escribir un epígrafe que acompañe tu foto </p>
                
            
        </div>
        
    </div>
</body>
</html>
