
<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader" style="background-position: bottom;">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
        <h2 class="title-primary">Recorridos fotográficos por la ciudad de Córdoba</h2>
    </div>
    <div class="article__content">
      <article>
           <p class="article__content--paragraph">
            ¿Cómo se expresan los espacios públicos de Córdoba en las fotografías de mayor circulación? Esta pregunta movilizó a un grupo de estudiantes y de profesores del colegio San José. Para responderla hicimos un ejercicio muy simple: escribimos en el buscador de google “espacios públicos de Córdoba” e hicimos click en imágenes. También buscamos en redes sociales. Estas son algunas de las imágenes a las que llegamos: 
            
                    
            </p>
      
            <app-proyect-item></app-proyect-item>
            <!-- <img src="../../../assets/banners/busqueda imaganes ep cba google.png" alt="" srcset="">
            <img src="../../../assets/banners/amo cba 1.jpg" alt="" srcset="">
            <img src="../../../assets/banners/amo cba 2.jpg" alt="" srcset="">   -->
            <p class="article__content--paragraph">
                Después de observar ciertas recurrencias o aspectos en común entre estas imágenes, (como la ausencia de personas, el tipo de plano desde el cual fueron tomadas, los lugares elegidos para ser mostrados) decidimos hacer nuestro propio <a>recorrido fotográfico</a>, para mostrar otra perspectiva de la ciudad.
            </p> 
            <app-fotos-sanjo></app-fotos-sanjo>
            <p class="article__content--paragraph">
                ¿Te animás a compartir tu fotografía de espacios públicos en tu ciudad? ¡Hacelo por <a href="https://padlet.com/mritamaldonado/ox7brhfocda5aaw9" target="_blank">aquí</a> y formemos una gran composición colectiva! Si querés, podés escribir un epígrafe que acompañe tu foto. 
            </p>

      </article>

    </div>
  </div>
    