<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanias</title>
</head>
<body>
    <div class="cover-page position-relative">
        <app-nav-bar></app-nav-bar>
        <div class="col-2">
        </div>
        
        
    </div>
    <div class="transition">
        <h1 class="title">José Domingo Laso: la ciudad de Quito, Ecuador a principios del siglo XX</h1>
    </div>
    <div class="general-articles">
        <div class="row justify-content-between max-content-width">
            <article>
                <p>Juan Domingo Laso (1870-1927) fue un fotógrafo ecuatoriano reconocido por sus prolíferas obras publicadas entre 1911 y 1924. En ellas retrató a las elites blancas quiteñas, fotografió grandes obras arquitectónicas de la época en la ciudad de Quito, y también realizó obras como las que vemos a continuación. 
                    Al mirar detenidamente las fotografías podremos percibir un borrón, una huella de algo que parece haber sido tachado o sacado. Sucede que en algunas de las fotografías publicadas en los libros de José Domingo Laso, los indígenas fueron borrados de la imagen. ¿Por qué hizo esto? En un texto escrito como advertencia en el libro “Quito a la Vista”, los editores, el fotógrafo José Domingo Laso y el librero Roberto Cruz revelaron sus intenciones: se borró al indígena asociado a un criterio de diferenciación social y se estableció un relato visual de ciudad erigido desde la limpieza étnica y social, una higiene de la mirada
                    </p>
                
               </article> 
               <img src="../../../assets/banners/laso 2.png" alt="" srcset="">
               <img src="../../../assets/banners/laso 3.png" alt="" srcset="">
               <img src="../../../assets/banners/laso 4.png" alt="" srcset=""> 
               <img src="../../../assets/banners/laso 1.png" alt="" srcset="">

               <p>Si querés conocer más sobre la obra de Laso, te invitamos a recorrer este <a href="https://static1.squarespace.com/static/55149bbde4b03ac54f18c21f/t/5cc0dc80e2c483860767b333/1556143310014/DOSSIER+LA+HUELLA+INVERTIDAc.pdf">Dossier</a> </p>
        
            
        </div>
        
    </div>
</body>
</html>
