<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
        <h2 class="title-primary">José Domingo Laso: la ciudad de Quito, Ecuador a principios del siglo XX</h2>
    </div>
    <div class="article__content">
      <article>
           <p class="article__content--paragraph">
            Juan Domingo Laso (1870-1927) fue un fotógrafo ecuatoriano reconocido por sus prolíferas obras publicadas entre 1911 y 1924. En ellas retrató a las elites blancas quiteñas, fotografió grandes obras arquitectónicas de la época en la ciudad de Quito, y también realizó obras como las que vemos a continuación. 
            
                    
            </p>
            <p class="article__content--paragraph">
                Al mirar detenidamente las fotografías podremos percibir un borrón, una huella de algo que parece haber sido tachado o sacado. Sucede que en algunas de las fotografías publicadas en los libros de José Domingo Laso, los indígenas fueron borrados de la imagen. ¿Por qué hizo esto? En un texto escrito como advertencia en el libro “Quito a la Vista”, los editores, el fotógrafo José Domingo Laso y el librero Roberto Cruz revelaron sus intenciones: se borró al indígena asociado a un criterio de diferenciación social y se estableció un relato visual de ciudad erigido desde la limpieza étnica y social, una higiene de la mirada
            </p>
           
            <app-proyect-list></app-proyect-list>
            <p class="article__content--paragraph">
                Si querés conocer más sobre la obra de Laso, te invitamos a recorrer este <a class="btn-article-link btn-article-link--l" href="https://static1.squarespace.com/static/55149bbde4b03ac54f18c21f/t/5cc0dc80e2c483860767b333/1556143310014/DOSSIER+LA+HUELLA+INVERTIDAc.pdf"  target="_blank">Dossier</a> y a leer la <a class="btn-article-link btn-article-link--l" href="https://latinta.com.ar/2017/06/los-borrones-de-la-modernidad/" target="_blank">nota periodística</a>.
            </p>        
      </article>

    </div>
  </div>
    