<h1>Bibliografía  para docentes</h1>
<p>
    Aquí encontrarás bibliografía en distintos soportes y formatos sobre los temas abordados en el sitio. 
</p>
<ul>
   <li>-¿Qué es la política? Intervención de Chantal Mouffe. Universidad de Verano. Podemos (2015)</li> 
   <iframe width="640" height="360" src="https://www.youtube.com/embed/e1gDuIAB5Og" title="¿Qué es política? Intervención de Chantal Mouffe." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <li>-Hay que traer el espacio a la vida. Entrevista a Doreen Massey realizada por Patria Román Velásquez y Alejandra García Vargas. En Revista Signo y Pensamiento (2008) https://revistas.javeriana.edu.co/index.php/signoypensamiento/article/view/4571</li>
   <li>-Desafíos actuales de la Educación en Derechos Humanos. Isabelino Siede (2020) En revista Olhares  https://periodicos.unifesp.br/index.php/olhares/article/view/10823</li>

</ul>