<div class="article">
   
    <div class="article__transition">
        <app-nav-bar></app-nav-bar>
        <h2 class="title-primary">Bibliografía  para docentes</h2>
    </div>
    <div class="article__content">
      <article>
           <p class="article__content--paragraph">
            Aquí encontrarás bibliografía en distintos soportes y formatos sobre los temas abordados en el sitio. 
            </p>
            <ul>
                <li class="article__content--paragraph">¿Qué es la política? Intervención de Chantal Mouffe. Universidad de Verano. Podemos (2015)</li> 
                <iframe width="640" height="360" src="https://www.youtube.com/embed/e1gDuIAB5Og" title="¿Qué es política? Intervención de Chantal Mouffe." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <li class="article__content--paragraph"><a class="btn-article-link btn-article-link--l" href="https://revistas.javeriana.edu.co/index.php/signoypensamiento/article/view/4571"  target="_blank">Hay que traer el espacio a la vida</a>. Entrevista a Doreen Massey realizada por Patria Román Velásquez y Alejandra García Vargas. En Revista Signo y Pensamiento (2008)</li>
                <li class="article__content--paragraph"><a class="btn-article-link btn-article-link--l" href="https://periodicos.unifesp.br/index.php/olhares/article/view/10823"  target="_blank">Desafíos actuales de la Educación en Derechos Humanos.</a> Isabelino Siede (2020) En revista Olhares</li>
                <li class="article__content--paragraph"><a class="btn-article-link btn-article-link--l" href="http://revistascientificas.filo.uba.ar/index.php/RPS/issue/view/640" target="_blank">Dossier Geografía, imágenes y educación. En Punto Sur, Revista de Geografía de la UBA (2020)</a></li>
            </ul>

           
      </article>

    </div>
  </div>
    