<div class="article">
    <div class="article__header" [ngStyle]="backgroundImageHeader">
      <app-nav-bar></app-nav-bar>
      <div>
        
      </div>
    </div>
    <div class="article__transition">
        <h2 class="title-primary">Ciudadanías</h2>
    </div>
    <div class="article__content">
      <article>
        <h1 class="title-secondary">
            ¿Que es la ciudadanía?
        </h1>
        <p class="article__content--paragraph">
          La ciudadanía se entiende como una práctica conflictiva vinculada a las relaciones de poder que reflejan las luchas —actuales e históricas— acerca de las demandas comunes. Supone la construcción de una comunidad que apunta a garantizar la plenitud ciudadana de todos sus miembros, esto es, el incremento de derechos y el ejercicio futuro de la ciudadanía. Es importante destacar que la definición sobre quiénes son las personas reconocidas como ciudadanes depende de los contextos históricos y las relaciones de fuerza entre los distintos actores políticos que participan del juego democrático, por esto decimos que se trata siempre de prácticas conflictivas. Un ejemplo claro de esto resulta de la larga historia de exclusión política de las mujeres, que en el caso de Argentina recién pudieron acceder al voto en el año 1951.
        </p>
        <p class="article__content--paragraph">
          En esta comunidad les ciudadanes deben percibirse a sí mismes y a les otres como sujetos de derecho. En este sentido, todes son iguales ante la ley y su participación en la vida comunitaria es independiente de cualquier otra característica de sexo o género, etnicidad, creencia religiosa o política, situación económica, identidad cultural. Es en el encuentro con las otredades donde se definen las responsabilidades ciudadanas. 
        </p>
        
        <p class="article__content--paragraph">
            Si te interesa aprender más sobre experiencias y luchas ciudadanas en la actualidad, te invitamos a visitar el sitio <a href="http://ciudadaniasactivas.com/"  target="_blank">Ciudadanías Activas</a>
        </p>
      </article>
      <h2>Seguí leyendo...</h2>
  
      <a
        class="btn-article-link btn-article-link--l"
        routerLink="/la-ciudadania-y-los-derechos-humanos"
        >La ciudadanía y los Derechos Humanos como procesos históricos</a
      >
    </div>
  </div>
  
