.cover-page {
    background-image: url("/../../../assets/banners/mural_la_lucha_nos_hace_libres.jpeg");
    background-size:cover;
    height: 30em;   
    background-position: 70% !important;
    
}
.title{
    color: white;
    font-size: 80px;
    padding: 10%;
    text-align: left;
    font-family: Impact,sans-serif;
    text-shadow: 5px 5px 10px rgba(black, 0.95);
}
.general-top-bg{
    
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
}
.general-articles {
    background-size: cover;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.mb-5 {
    margin-bottom: 3rem!important;
}
.align-items-center {
    align-items: center!important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.a-img-off {
    width: 50px;
}
.imagen {
    height: 380px;
}
h1, h2{
    color: rgb(1, 1, 0);
    font-size: 48px;
}
.image-video-preview img {
    max-height: 320px;
}
.img-fluid {
    height: 200px;
}

.transition {
    background-color: black;
    font-family: Impact, sans-serif;
    height: 18em;
    display: block;

}

.quote {
    color: white;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
    display: block;


  }
  .header-title{
    color: black;
    font-size: 36px;
    font-family: Impact,sans-serif;
    line-height: 40px;
    text-align: left;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
  }
  h1 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    text-align: justify;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #404040;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
