<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudadanias</title>
</head>
<body>
    <div class="cover-page position-relative">
        <app-nav-bar></app-nav-bar>
        <div class="col-2">
            <h1 class="title">Ciudadanías</h1>            
        </div>
        
        
    </div>
    <div class="transition">
        <p class="quote">"Las acciones propias de les ciudadanes son solo aquellas que tienden a mantener, y de ser posible, incrementar el ejercicio futuro de la ciudadania." </p>
        <p class="quote">Elizabeth Jelin</p>
    </div>
    <div class="general-articles">
        <div class="row justify-content-between max-content-width">
            <article>
                <h1>¿Que es la ciudadanía?</h1>
                <p>La ciudadanía se relaciona con los derechos y las responsabilidades que las personas tenemos en el marco de una comunidad determinada. Puede entenderse como una práctica conflictiva vinculada al poder, que refleja las luchas acerca de quiénes podrán participar en el proceso de definir cuáles son los problemas comunes y cómo serán abordados. Esto implica la construcción de una comunidad con miembros plenos cuyas acciones tienden a mantener y, de ser posible, incrementar, el ejercicio futuro de la ciudadanía. En esta línea, es importante que les ciudadanes se perciban como sujetos de derecho, pero que también reconozcan y promuevan la ampliación del sentido de la responsabilidad y las prácticas ciudadanas colectivas.</p>
                <p> Otro aspecto central en la definición de la ciudadanía tiene que ver con el reconocimiento que se les da a les ciudadanes en el marco de la participación ciudadana, tanto por conformidad, es decir, a partir de recibir un trato igualitario, por su condición de igualdad con otres, como por distinción, donde se reconozca la especificidad de los individuos. Es decir, la participación en la vida comunitaria es independiente de cualquier otra característica de las personas (sexo o género, etnicidad, creencia religiosa o política, situación económica, identidad cultural), aunque teniendo presente sus singularidades. Es en el encuentro con las otredades donde se define nuestro ser moral y donde aparece nuestra responsabilidad.</p>
                <p>Si te interesa aprender más sobre experiencias y luchas ciudadanas en la actualidad, te invitamos a visitar el sitio <a href="http://ciudadaniasactivas.com/">Ciudadanías Activas</a></p>
            </article> 
            <h1>Seguí leyendo...</h1>
            <h1><a href='la-dimension-espacial-de-la-ciudadania'>La dimensión espacial de la ciudadanía</a></h1>
            <h1><a href="la-ciudadania-y-los-derechos-humanos">La ciudadanía y los Derechos Humanos como procesos históricos</a></h1>  

        
            
        </div>
        
    </div>
</body>
</html>
