    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ciudadanias</title>
    </head>
    <body>
     
        <div class="transition">
            <app-nav-bar></app-nav-bar>
            <h1 class="quote">Ciudadanías</h1>
        </div>
        <div class="trans2"></div>
        <div class="trans3"></div>
        <div class="general-articles">
            <div class="row justify-content-between max-content-width">
                <article>
                    <h1>La dimensión espacial de la ciudadanía</h1>
                    <p>La idea de ciudadanía y su construcción a lo largo de la historia guarda fuertes relaciones con la dimensión espacial. El propio concepto de ciudadanía está vinculado a una matriz espacial: ciudadane es quien tiene derechos y deberes dentro de una sociedad, pero también necesariamente es quien pertenece a una cierta red de relaciones espaciales.
                    </p>
                    <p>Pueden identificarse una serie de momentos definitorios de la ciudadanía en Occidente. Asi, por ejemplo, en el contexto de la antigua Grecia, y más precisamente, en la polis ateniense, la representación política se definió en función del lugar de residencia. A esto podemos agregar la concepción del ágora o plaza pública como el espacio concebido para el ejercicio de la política, y al ostracismo —aplicado a aquellos miembros de la sociedad que atenten contra la democracia—como el castigo que implicaba el exilio forzado de la ciudad. Como vemos, en todas estas prácticas estaban implicadas las relaciones políticas y el territorio como dimensiones interactuantes y fundadoras en la constitución del ejercicio del poder.
                    </p>
                    <p>Otro hito o momento histórico que puede retomarse para mostrar las vinculaciones entre ciudadanía y espacialidad, tiene que ver con los procesos políticos que tuvieron lugar en Europa a partir del siglo XVII, donde la ciudadanía moderna comenzó a construirse en vinculación con otro territorio: el del Estado Nación. En este contexto, comenzaron a tener lugar nuevas relaciones sociales, nuevos pactos territoriales, la redefinición de la esfera del espacio público y del privado, los conflictos por las diversidades culturales, etcétera.
                    </p>
                    <p>Estos procesos históricos nos hacen pensar que la ciudadanía no tiene ver únicamente con la representación política en el Estado, sino que es un fenómeno mucho más complejo, que tiene incidencia en la dinámica espacial de las sociedades. Por lo tanto, para la ampliación de derechos y de la ciudadanía es importante tener en cuenta nuestras concepciones sobre el espacio y nuestras maneras de construirlo. 
                    </p>
                   </article> 
               
            
                
            </div>
            
        </div>
    </body>
    </html>
    